# General
__pycache__/
*.py[cod]
venv/
*.env

# Environments
.env
.env.local
.env.*.local
.env.build
.env.production
.env.development
.env.test

# Django
*.log
*.pot
*.pyc
db.sqlite3
/media/
/static/
/site/
__pycache__/
local_settings.py

# VS Code
.vscode/
